*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao{
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #ff3d7f;
    padding: 20px 0;
    box-shadow: 0 6px 0 #a32751;
    border-radius: 3px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}




/*Header*/
header h1{
    margin: 0;
}

header{    
    font-weight: 400;
    color: #fff;
    margin-bottom: -100px;
}

h1#logo{
    background-image: url(../imgs/logo.png);
    height: 78px;
    width: 177px;
    margin-right: 165px;
    margin-top: 20px;
    
}

h1 span{
    visibility: hidden;
}

.menu ul{
    list-style-type: none;
    padding-left: 20px;
}

.menu li{
    display: inline;
    margin-right: 80px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
}

.menu ul li a#btnConvite{
    background-color: transparent;
    padding: 12px 42px 14px 32px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
}




/*Topo*/
section#topo{
    background-image: url(../imgs/fundo1.png);
    background-size: cover;
    color: #fff;
    height: 800px;
    
}

section#topo .chamada{
    margin-top: 225px;
    text-align: center;
}

section#topo h1{
    font-weight: 500;
    font-size: 50px;
}

section#topo h2{
/*    margin-left: 60px;*/
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
}





/*Conheça*/
section#conheca{
    background-color: #fff;
    padding: 80px 0;
}

section#conheca .botao{
    width: 75%;
}

section#conheca h2{
    font-size: 36px;
    font-weight: 500; 
}

section#conheca .descTitum{
    margin-left: 100px;
    padding: 50px 0;
}

.descTitum h2{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
}

.descTitum p{
    margin-bottom: 60px;
    font-size: 24px;    
    font-weight: 300;
}

/*Depoimento*/

section#depoimento{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    background-color: #ebe8fb;
}

section#depoimento #nome-dep{
    font-weight: 500;
}

section#depoimento .dep-girl{
    padding: 80px 0;
}

/*Convite*/

section#convite {
    background-image: url('../imgs/fundo-convite.png');
    background-size: cover;
    
}

section#convite form{
    margin: 150px auto;
    background-color: #fff;
    opacity: 0.89;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 55%;
    border-radius: 3px;
}

section#convite input{
    border: 0;
    width: 60%;
    padding: 50px;
}

section#convite button{
    background-image: url(../imgs/botao-convite.png);
    background-color: transparent;
    border: 0;
    width: 87px;
    height: 43px;
}

section#convite span{
    visibility: hidden;
}

/*Footer*/

footer{
    background-color: #2a0157;
    justify-content: center;
    color: #fff;
    padding: 30px 0;
    margin-top: 4px;
}

footer .container{
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
}

/*Media Queries*/
@media(max-width: 600px){
    header nav {
        display: none;
    }
    h1#logo{
        margin-right: 10px;
        margin-left: 20px;
    }
    
    section#conheca .container{
        flex-direction: column;
        align-items: center;   
    }
    
    section#conheca .container .descTitum{
        padding: 10px;
    }
    
    section#conheca .container .descTitum a{
        width: 100%;
    }
    
    section#convite form{
        display: block;
        text-align: center;
        width: 80%;
    }
    
}