body {
    background-color: #745cc1;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.imagem{
    text-align: center;
    margin-top: 65px;
}

.form{
    text-align: center;
    margin-top: 56px;
}

.form .inputs{
    margin-bottom: 50px;
    background-color: transparent;
    color: #fff;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    font-size: 18px;
}

.form p {
    text-align: center;
    color: #fff;
}

.form a {
    text-decoration: none;
}

.form .sbm-btn{
    background-color: #ffffff;
    padding: 15px 98px;
    border-radius: 40px;
    box-shadow: 0 2px 3px 0px #000000;
    font-size: 18px;
    color: #39393a;
    font-weight: 500; 
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
}

a{
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

::-moz-placeholder {
    opacity: 1;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}